<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#343d46">
    <meta name="msapplication-navbutton-color" content="#343d46">
    <meta name="apple-mobile-web-app-status-bar-style" content="#343d46">
    <link rel="icon" sizes="192x192" href="<%= BASE_URL %>bitmex-simple.png">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <title>Bitmex Simple</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but bitmex-simple doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
