// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// this is previously used theme
// https://www.colourlovers.com/palette/723615/clairedelune


// https://www.color-hex.com/color-palette/2280 this is my very liked theme

$c1: #343d46;
$c2: #4f5b66;
$c3: #65737e;
$c4: #a7adba;
$c5: #c0c5ce;


$primary: $c2;
$primary-invert: findColorInvert($primary);

$white: lighten($c1, 2.5%);
$black: $c5;

$light: $c1;
$dark: $c5;

$background: $c2;

$grey: $c5;
$grey-light: $c4;
$grey-lighter: $c3;
$grey-darker: $c5;


$text: $c4;
$text-strong: $c5;

$danger: #ff635e;
$danger-invert: findColorInvert($danger);

$success: #75f559;
$success-invert: findColorInvert($success);


// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

// Links
$link: lighten($c5, 15%);
$link-hover: lighten($c5, 15%);
$link-focus-border: $primary;
$link-hover-border: $c4;
$link-focus: lighten($c5, 15%);
$link-active: lighten($c5, 15%);


// tabs
$tabs-link-color: $c3;
$tabs-link-active-color: $c5;
$tabs-border-bottom-color: $c2;

// navbar
$navbar-background-color: $c1;
$navbar-item-color: $c5;
$navbar-item-hover-color: $c4;
$navbar-item-hover-background-color: darken($c1, 2.5%);

// card
$card-shadow: none;
$card-header-shadow: none;

$footer-background-color: $c1;

$code: $danger;
$code-background: $c1;

$hr-height: 1px;

$card-background-color: $c1;
$card-header-background-color: darken($card-background-color, 2.5%);

$snackbar-background-color: darken($card-background-color, 2.5%);
