// Import Bulma and Buefy styles
@import "_variables";
@import "~bulma";
@import "~buefy/src/scss/buefy";

.tab-content {
  padding: 1rem 0 !important;
}
.tabs {
  ul, li + li {
    margin: 0;
  }
}
.card {
  border-radius: 5px;
}
.card-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.section {
  padding: 3.5rem 0.5rem;
}


.positionNew {
  padding-top: 0;
  padding-bottom: 0;
  .positionCol {
    padding: 0 0.75rem;
    @include from($desktop) {
      border-right: 1px dashed $background;
    }
  }
  .positionCol:last-child {
    border-right: none;
  }
  .itemNew {
    border-bottom: 1px dashed $background;
    padding: 0.5rem 0;
  }
  .itemNew:last-child {
    @include from($tablet) {
      border-bottom: none;
    }
  }
}

.snackbar .action button {
  background-color: $c1;
}
.snackbar .action button:hover {
  background-color: lighten($c1, 5%);
}
