<template>
  <div v-if="this.margin.length > 0">
    <div class="columns positionNew">
      <div class="column positionCol is-half">

        <div class="itemNew">
          <div class="columns is-mobile is-vcentered">
            <div class="column">Quantity</div>
            <div class="column has-text-right is-size-4 has-text-weight-semibold">
              {{ quantity.toFixed(0) }}
            </div>
          </div>
        </div>
        <div class="itemNew">
          <div class="columns is-mobile is-vcentered">
            <div class="column">Risk Amount</div>
            <div class="column has-text-right is-size-4 has-text-weight-semibold">
              ${{ riskAmount.toFixed(0) }}
            </div>
          </div>
        </div>
        <div class="itemNew">
          <div class="columns is-mobile is-vcentered">
            <div class="column">Return Amount</div>
            <div class="column has-text-right is-size-4 has-text-weight-semibold">
              ${{ returnAmount.toFixed(0) }}
            </div>
          </div>
        </div>
        <div class="itemNew">
          <div class="columns is-mobile is-vcentered">
            <div class="column">Target Percent</div>
            <div class="column has-text-right is-size-4 has-text-weight-semibold">
              {{ targetPercent.toFixed(2) }}%
            </div>
          </div>
        </div>
        <div class="itemNew">
          <div class="columns is-mobile is-vcentered">
            <div class="column">Stop Percent</div>
            <div class="column has-text-right is-size-4 has-text-weight-semibold">
              {{ stopPercent.toFixed(2) }}%
            </div>
          </div>
        </div>
        <div class="itemNew">
          <div class="columns is-mobile is-vcentered">
            <div class="column">Leverage</div>
            <div class="column has-text-right is-size-4 has-text-weight-semibold"
                 :class="leverage >= 10 ? 'has-text-danger' : leverage >= 5 ? 'has-text-warning' : ''">
              {{ leverage >= 1 ? leverage.toFixed(2) : '&mdash;' }}
            </div>
          </div>
        </div>
        <div class="itemNew">
          <div class="columns is-mobile is-vcentered">
            <div class="column">Return over Risk</div>
            <div class="column has-text-right is-size-4 has-text-weight-semibold"
                 :class="returnRisk < 1 ? 'has-text-danger' : returnRisk >= 2 ? 'has-text-success' : ''">
              {{ returnRisk.toFixed(2) }}
            </div>
          </div>
        </div>


      </div>
      <div class="column">
        <div class="label">Risk %</div>
        <div class="field has-addons">
          <div class="control is-expanded has-icons-left">
            <input class="input" type="text" v-model="risk">
            <span class="icon is-small is-left">
              <i class="mdi mdi-percent"></i>
            </span>
          </div>
          <div class="control">
            <button class="button" @click="increaseRisk()">
              <b-icon icon="plus" size="is-small"></b-icon>
            </button>
          </div>
          <div class="control">
            <button class="button" @click="decreaseRisk()">
              <b-icon icon="minus" size="is-small"></b-icon>
            </button>
          </div>
        </div>

        <div class="label">Entry</div>
        <div class="field has-addons">
          <div class="control is-expanded has-icons-left">
            <input class="input" type="text" v-model="entry">
            <span class="icon is-small is-left">
              <i class="mdi mdi-currency-usd"></i>
            </span>
          </div>
          <div class="control">
            <button class="button" @click="entry = price">
              <b-icon icon="equal" size="is-small"></b-icon>
            </button>
          </div>
          <div class="control">
            <button class="button" @click="increase('entry')">
              <b-icon icon="plus" size="is-small"></b-icon>
            </button>
          </div>
          <div class="control">
            <button class="button" @click="decrease('entry')">
              <b-icon icon="minus" size="is-small"></b-icon>
            </button>
          </div>
        </div>

        <div class="label">Distance to Target</div>
        <div class="field has-addons">
          <div class="control is-expanded has-icons-left">
            <input class="input" type="text" v-model="target_distance">
            <span class="icon is-small is-left">
              <i class="mdi mdi-currency-usd"></i>
            </span>
          </div>
          <div class="control">
            <button class="button" @click="increase('target_distance')">
              <b-icon icon="plus" size="is-small"></b-icon>
            </button>
          </div>
          <div class="control">
            <button class="button" @click="decrease('target_distance')">
              <b-icon icon="minus" size="is-small"></b-icon>
            </button>
          </div>
        </div>

        <div class="label">Distance to Stop</div>
        <div class="field has-addons">
          <div class="control is-expanded has-icons-left">
            <input class="input" type="text" v-model="stop_distance">
            <span class="icon is-small is-left">
              <i class="mdi mdi-currency-usd"></i>
            </span>
          </div>
          <div class="control">
            <button class="button" @click="increase('stop_distance')">
              <b-icon icon="plus" size="is-small"></b-icon>
            </button>
          </div>
          <div class="control">
            <button class="button" @click="decrease('stop_distance')">
              <b-icon icon="minus" size="is-small"></b-icon>
            </button>
          </div>
        </div>

        <hr>

        <div v-if="positionQuantity == 0" v-show="risk <= 10 && returnRisk >= 0.5" class="action-buttons">
          <div class="field has-addons" >
            <div class="control is-expanded">
              <button class="button is-fullwidth" @click="short">
                <b-icon icon="arrow-down-bold" size="is-small"></b-icon>
                <span>Short</span>
              </button>
            </div>
            <div class="control is-expanded">
              <button class="button is-fullwidth" @click="long">
                <span>Long</span>
                <b-icon icon="arrow-up-bold" size="is-small"></b-icon>
              </button>
            </div>
          </div>
        </div>

        <div>
          <b-notification type="is-danger" class="has-text-centered" :closable="false" v-show="risk > 10">
            You cannot risk more than 10% of your wallet size!
          </b-notification>

          <b-notification type="is-danger" class="has-text-centered" :closable="false" v-show="returnRisk < 0.5">
            Your return cannot be lower than half of your risk!
          </b-notification>

          <b-notification type="is-warning" class="has-text-centered" :closable="false" v-show="stop_distance < 50">
            Your stop distance is too small!
          </b-notification>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data: () => ({
    risk: 1,
    entry: 0,
    target_distance: 100,
    stop_distance: 100,
  }),
  computed: {
    ...mapGetters(['margin', 'orders', 'price', 'positionQuantity', 'positionEntryPrice']),
    capital() {
      return this.margin.find(w => w.currency == 'XBt').walletBalance / 100000000 * this.entry;
    },
    riskAmount() {
      return this.capital / 100 * this.risk;
    },
    returnAmount() {
      return this.riskAmount * this.returnRisk;
    },
    quantity() {
      return this.riskAmount / this.stop_distance * this.entry;
    },
    targetPercent() {
      return this.target_distance * 100 / this.entry;
    },
    stopPercent() {
      return this.stop_distance * 100 / this.entry;
    },
    returnRisk() {
      return this.target_distance / this.stop_distance;
    },
    leverage() {
      return this.quantity / this.capital;
    },
  },
  mounted() {
    this.entry = this.price;
  },
  methods: {
    increase(type, amount) {
      if (this[type]) {
        try {
          this[type] = parseFloat(this[type]) + (amount || 5);
        } catch(e) {
          // do nothing if we can't parse
        }
      }
    },
    decrease(type, amount) {
      if (this[type]) {
        try {
          this[type] = parseFloat(this[type]) - (amount || 5);
        } catch(e) {
          // do nothing if we can't parse
        }
      }
    },
    increaseRisk() {
      if (this.risk < 10) {
        this.risk += 1;
      }
    },
    decreaseRisk() {
      if (this.risk > 1) {
        this.risk -= 1;
      }
    },
    short() {
      const quantity = -Math.round(this.quantity);
      const entry = parseFloat(this.entry);
      const stop = entry + parseFloat(this.stop_distance);
      const close = entry - parseFloat(this.target_distance);

      if (entry < this.price - 5) {
        this.$snackbar.open({
          message: 'You are not allowed to sell it from this price margin',
          type: 'is-danger',
        });
        return;
      }

      this.order(quantity, entry, stop, close);
    },
    long() {
      const quantity = Math.round(this.quantity);
      const entry = parseFloat(this.entry);
      const stop = entry - parseFloat(this.stop_distance);
      const close = entry + parseFloat(this.target_distance);

      if (entry > this.price + 5) {
        this.$snackbar.open({
          message: 'You are not allowed to buy it from this price margin',
          type: 'is-danger',
        });
        return;
      }

      this.order(quantity, entry, stop, close);
    },
    order(quantity, entry, stop, close) {
      // bulk order data
      const data = [
        // buy/sell order
        {
          ordType: 'Limit',
          symbol: 'XBTUSD',
          price: entry,
          orderQty: quantity,
        },
        // close order
        {
          ordType: 'StopLimit',
          symbol: 'XBTUSD',
          price: close,
          stopPx: entry,
          orderQty: -quantity,
          execInst: 'Close,LastPrice',
        },
        // stop order (using market stop)
        {
          ordType: 'Stop',
          symbol: 'XBTUSD',
          stopPx: stop,
          orderQty: -quantity,
          execInst: 'Close',
        },
      ];

      // first cancel all orders
      this.$store.dispatch('cancel_all_orders').then(() => {
        this.$store.dispatch('bulk_order', { orders: data });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.action-buttons {
  padding-bottom: 1.5rem;
}
</style>
