<template>
  <div>
    <div class="columns positionNew">
      <div class="column positionCol is-half">
        <div v-if="positionQuantity != 0">

          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Target</div>
              <div class="column has-text-right is-size-4 has-text-weight-semibold">
                {{ target.toFixed(1) }}
              </div>
            </div>
          </div>

          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">PNL</div>
              <div class="column has-text-right is-size-4 has-text-weight-semibold">
                {{ limitPnl }}
              </div>
            </div>
          </div>

          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">PNL $</div>
              <div class="column has-text-right is-size-4 has-text-weight-semibold">
                ${{ (limitPnl * target / 1000).toFixed(2) }}
              </div>
            </div>
          </div>

          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Delta</div>
              <div class="column has-text-right is-size-4 has-text-weight-semibold">
                ${{ Math.abs(price - target) }}
              </div>
            </div>
          </div>

          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Delta %</div>
              <div class="column has-text-right is-size-4 has-text-weight-semibold">
                {{ Math.abs((price - target) * 100 / price).toFixed(1) }}%
              </div>
            </div>
          </div>

        </div>

        <div v-else>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Price</div>
              <div class="column has-text-right is-size-4 has-text-weight-semibold">
                {{ price.toFixed(1) }}
              </div>
            </div>
          </div>

          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Quantity</div>
              <div class="column has-text-right is-size-4 has-text-weight-semibold">
                {{ quantity }}
              </div>
            </div>
          </div>

          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Value</div>
              <div class="column has-text-right is-size-4 has-text-weight-semibold">
                {{ value.toFixed(3) }}
              </div>
            </div>
          </div>

          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Leverage</div>
              <div class="column has-text-right is-size-4 has-text-weight-semibold">
                {{ leverage > 1 ? leverage.toFixed(2) : '&mdash;' }}
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="column">

        <div class="label" v-show="positionQuantity == 0">Quantity</div>
        <div class="field has-addons" v-show="positionQuantity == 0">
          <div class="control is-expanded has-icons-left">
            <input class="input" type="text" v-model="quantity">
            <span class="icon is-small is-left">
              <i class="mdi mdi-currency-usd"></i>
            </span>
          </div>
          <div class="control">
            <button class="button" @click="increase('quantity')">
              <b-icon icon="plus" size="is-small"></b-icon>
            </button>
          </div>
          <div class="control">
            <button class="button" @click="decrease('quantity')">
              <b-icon icon="minus" size="is-small"></b-icon>
            </button>
          </div>
        </div>

        <div class="label" v-show="positionQuantity != 0">Target</div>
        <div class="field has-addons" v-show="positionQuantity != 0">
          <div class="control is-expanded has-icons-left">
            <input class="input" type="text" v-model="targetRaw">
            <span class="icon is-small is-left">
              <i class="mdi mdi-currency-usd"></i>
            </span>
          </div>
          <div class="control">
            <button class="button" @click="increase('targetRaw')">
              <b-icon icon="plus" size="is-small"></b-icon>
            </button>
          </div>
          <div class="control">
            <button class="button" @click="decrease('targetRaw')">
              <b-icon icon="minus" size="is-small"></b-icon>
            </button>
          </div>
        </div>

        <hr>

        <div class="field has-addons" v-show="positionQuantity == 0">
          <div class="control is-expanded">
            <button class="button is-fullwidth" @click="short">
              <b-icon icon="arrow-down-bold" size="is-small"></b-icon>
              <span>Short</span>
            </button>
          </div>
          <div class="control is-expanded">
            <button class="button is-fullwidth" @click="long">
              <span>Long</span>
              <b-icon icon="arrow-up-bold" size="is-small"></b-icon>
            </button>
          </div>
        </div>


        <div class="field has-addons" v-show="positionQuantity != 0">
          <div class="control is-expanded">
            <button class="button is-fullwidth" @click="limitOrder">
              <b-icon icon="chart-line-variant" size="is-small"></b-icon>
              <span>Limit</span>
            </button>
          </div>
          <div class="control is-expanded">
            <button class="button is-fullwidth" @click="stopOrder">
              <span>Stop</span>
              <b-icon icon="chart-multiline" size="is-small"></b-icon>
            </button>
          </div>
        </div>

        <div class="field" v-show="positionQuantity != 0">
          <div class="control">
            <button class="button is-fullwidth" @click="closePosition">
              <b-icon icon="alert-outline" size="is-small"></b-icon>
              <span>Close Position</span>
            </button>
          </div>
        </div>


      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data: () => ({
    limit: 0,
    targetRaw: 0,
    quantity: 0,
  }),
  computed: {
    ...mapGetters(['margin', 'orders', 'price', 'positionQuantity', 'positionEntryPrice']),
    limitPnl() {
      return (((this.positionQuantity / this.positionEntryPrice) -
               (this.positionQuantity / this.target))
              * 1000).toFixed(3)
    },
    target() {
      try {
        return parseFloat(this.targetRaw);
      } catch(e) {
        return 0;
      }
    },
    value() {
      return (this.quantity / this.price) * 1000;
    },
    walletBalance() {
      return this.margin.find(w => w.currency == 'XBt').walletBalance / 100000;
    },
    leverage() {
      return this.value / this.walletBalance;
    },
  },
  mounted() {
    let limit_order = this.orders.find(o => o.ordType == 'Limit');
    this.targetRaw = limit_order ? limit_order.price : this.price;
    this.quantity = Math.abs(this.positionQuantity || 500);
  },
  methods: {
    increase(type) {
      if (this[type]) {
        try {
          this[type] = parseFloat(this[type]) + 5;
        } catch(e) {
          // do nothing if we can't parse
        }
      }
    },
    decrease(type) {
      if (this[type]) {
        try {
          this[type] = parseFloat(this[type]) - 5;
        } catch(e) {
          // do nothing if we can't parse
        }
      }
    },
    limitOrder() {
      this.$store.dispatch('alter_limit_order', {
        price: this.target,
        quantity: -this.positionQuantity,
      }).catch(error => {
        console.log(error);
      });
    },
    stopOrder() {
      this.$store.dispatch('alter_stop_order', {
        price: this.target,
        quantity: -this.positionQuantity,
      }).catch(error => {
        console.log(error);
      });
    },
    closePosition() {
      this.$store.dispatch('alter_limit_order', {
        quantity: -this.positionQuantity
      }).catch(error => {
        console.log(error);
      });
    },
    short() {
      this.$store.dispatch('alter_limit_order', {
        quantity: -this.quantity,
      }).catch(error => {
        console.log(error);
      });
    },
    long() {
      this.$store.dispatch('alter_limit_order', {
        quantity: this.quantity,
      }).catch(error => {
        console.log(error);
      });
    },
  },
};
</script>
