<template>
  <div>
    <b-table :data="history" :columns="columns" :paginated="true">
      <template slot-scope="props">
        <b-table-column field="transactTime" label="Time" sortable>
          {{ props.row.transactTime | moment }}
        </b-table-column>
        <b-table-column field="transactType" label="Type">
          {{ props.row.transactType  }}
        </b-table-column>
        <b-table-column field="amount" label="Amount" sortable numeric>
          <span class="has-text-weight-semibold"
                :class="props.row.amount < 0 ? 'has-text-danger' : 'has-text-success'">
            {{ props.row.amount.toFixed(3) }}
          </span>
        </b-table-column>
        <b-table-column field="walletBalance" label="Wallet Balance" sortable numeric>
          <span class="has-text-weight-semibold"
                :class="props.row.amount < 0 ? 'has-text-danger' : 'has-text-success'">
            {{ props.row.walletBalance.toFixed(3) }}
          </span>
        </b-table-column>
      </template>
      <template slot="bottom-left">
        <button class="button" @click="getHistory">
          <b-icon icon="refresh" size="is-small"></b-icon>
          <span>Refresh</span>
        </button>
      </template>
    </b-table>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import moment from 'moment';

export default {
  computed: {
    ...mapState({'historyRaw': 'history'}),
    ...mapGetters(['price']),
    history() {
      return this.historyRaw.map(h => ({
        transactTime: h.transactTime ? new Date(new Date(h.transactTime).getTime() - (24 * 60 * 60 * 1000)).getTime() : 0,
        transactType: h.transactType,
        amount: h.amount / 100000,
        walletBalance: h.walletBalance / 100000,
      }));
    },
  },
  data: () => ({
    columns: [
      { field: 'transactTime', label: 'Time', numeric: true, sortable: true },
      { field: 'transactType', label: 'Type' },
      { field: 'amount', label: 'Amount', numeric: true, sortable: true },
    ],
    filter: '',
  }),
  mounted() {
    this.getHistory();
  },
  methods: {
    getHistory() {
      this.$store.dispatch('get_history');
    },
  },
  filters: {
    moment(t) {
      return t ? moment(t).fromNow() : '';
    },
  },
};
</script>
