<template>
  <section class="text-center">
    <div class="card login-form">
      <header class="card-header">
        <p class="card-header-title">
          Login with API key
        </p>
      </header>
      <div class="card-content">
        <div v-show="showNotification">
          <p>Bitmex-Simple doesn't save, send or use your API key anywhere outside of your browser.
             All connections will be made directly into the
             <a href="https://www.bitmex.com/app/wsAPI">Bitmex realtime API</a>.
          </p>
          <br/>
          <p>This app supports <a href="https://testnet.bitmex.com/" target="_blank" class="is-dark">Testnet</a> and it is recommended to use Testnet first before making any real trade.</p>
          <br/>
          <p><strong>Do not send your API keys to unknown sources.</strong></p>
          <br/>
          <div class="has-text-right">
            <button class="button is-link" @click="showNotification = !showNotification">
              <b-icon icon="check"></b-icon>
              <span>OK, I understand</span>
            </button>
          </div>
        </div>

        <form v-show="!showNotification" @submit.prevent="login">
          <b-notification type="is-danger" v-if="error" :closable="false">
            {{ error }}
          </b-notification>

          <b-field label="Key ID">
            <b-input name="key" v-model="key"></b-input>
          </b-field>

          <b-field label="Key Secret">
            <b-input name="secret" v-model="secret" type="password"></b-input>
          </b-field>

          <b-field>
            <b-checkbox v-model="remember">
              Remember me on this computer.
            </b-checkbox>
          </b-field>

          <b-field>
            <b-checkbox v-model="testnet">
              Use Testnet.
            </b-checkbox>
          </b-field>

          <b-field>
            <button class="button is-link" :class="loginin ? 'is-loading' : ''" type="submit">
              <b-icon icon="check"></b-icon>
              <span>Login</span>
            </button>
          </b-field>
        </form>

      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data: () => ({
    key: '',
    secret: '',
    testnet: false,
    remember: false,
    showNotification: true,
  }),
  computed: mapState(['loginin', 'error']),
  mounted() {
    this.$store.dispatch('load_options');
    const key = this.$store.state.options.key;
    const secret = this.$store.state.options.secret;
    const testnet = this.$store.state.options.testnet;
    if (key && secret) {
      this.showNotification = false;
      this.key = key;
      this.secret = secret;
      this.testnet = testnet;
      this.login();
    }
  },
  methods: {
    login() {
      if (this.key && this.secret) {
        this.$store.dispatch("login", {
          key: this.key,
          secret: this.secret,
          testnet: this.testnet,
          remember: this.remember,
        });
      }
    },
  },
};
</script>

<style scoped>
.login-form {
  margin: 3.5rem auto;
  max-width: 500px;
}
</style>
