<template>
  <div>
    <Navigation v-if="!loginRequired && price != 0"/>
    <section class="section">
      <div class="container">
        <LoginForm v-if="loginRequired || price == 0"/>
        <div v-else>
          <Card class="is-hidden-mobile summary-card"><Summary/></Card>
          <section>
            <b-tabs :animated="false" :expanded="false">
              <b-tab-item label="Summary" icon="summit">
                <div class="columns">
                  <div class="column">
                    <Card title="Position"><Position/></card>
                    <Card title="Orders"><Orders/></Card>
                    <Card title="Actions">
                      <b-tabs>
                        <b-tab-item label="Simple">
                          <Actions/>
                        </b-tab-item>
                        <b-tab-item label="Risk">
                          <ActionsRiskCalculator/>
                        </b-tab-item>
                      </b-tabs>
                    </Card>
                  </div>
                  <div class="column is-one-quarter">
                    <Card title="Wallet"><Wallet/></card>
                    <Card v-if="api.testnet">
                      <p class="has-text-centered has-text-warning has-text-weight-semibold">TESTNET</p>
                    </Card>
                  </div>
                </div>
              </b-tab-item>
              <b-tab-item label="History" icon="history">
                <History/>
              </b-tab-item>
            </b-tabs>
          </section>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bitmex Simple</strong> by <a href="https://onur.im">Onur Aslan</a>.
          <br/>
          This project is licensed under the <a href="https://gitlab.com/onuras/bitmex-simple/blob/master/LICENSE" target="_blank">MIT License</a>. Source code is available in <a href="https://gitlab.com/onuras/bitmex-simple" target="_blank">GitLab</a>.
        </p>
        <p>Donations: <code>1KKbnXsFkUGdExJiuGkYPKrCFAgjZ8bqS9</code></p>
      </div>
    </footer>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import Card from '@/components/Card.vue';
import LoginForm from '@/components/LoginForm.vue';
import Summary from '@/components/Summary.vue';
import Position from '@/components/Position.vue';
import Orders from '@/components/Orders.vue';
import Actions from '@/components/Actions.vue';
import ActionsRiskCalculator from '@/components/ActionsRiskCalculator.vue';
import Wallet from '@/components/Wallet.vue';
import Navigation from '@/components/Navigation.vue';
import History from '@/components/History.vue';

export default {
  components: {
    Card,
    Summary,
    LoginForm,
    Position,
    Orders,
    Actions,
    ActionsRiskCalculator,
    Wallet,
    Navigation,
    History,
  },
  computed: {
    ...mapState(['loginRequired', 'api']),
    ...mapGetters(['price']),
  },
}
</script>

<style scoped>
.footer {
  padding: 3rem 1.5rem;
}
.summary-card {
  margin: 0.5rem 0;
}
</style>
