<template>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-item">
          <span class="is-hidden-mobile nav-description">Price:</span>
          <span class="has-text-weight-semibold">{{ price.toFixed(1) }}</span>
        </div>

        <div class="navbar-item" v-if="positionQuantity != 0">
          <span class="is-hidden-mobile nav-description">Position:</span>
          <b-icon :icon="positionQuantity > 0 ? 'arrow-up-bold' : 'arrow-down-bold'" size="is-small"></b-icon>
          <span class="has-text-weight-semibold">{{ positionEntryPrice || '&mdash;' }}</span>
        </div>

        <div class="navbar-item" v-if="positionQuantity != 0">
          <span class="is-hidden-mobile nav-description">PNL:</span>
          <span class="has-text-weight-semibold"
                :class="!isNaN(pnl) && pnl != 0 ? (pnl > 0 ? 'has-text-success' : 'has-text-danger') : ''">
            {{ Math.abs(pnl) }}
          </span>
        </div>
      </div>
    </div>
  </nav>
</template>


<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters(['price', 'positionEntryPrice', 'positionQuantity', 'pnl']),
  },
}
</script>


<style lang="scss" scoped>
@import "../style/_variables";
.navbar .container {
  display: flex;
}
.navbar {
  border-bottom: 1px solid $grey-light;
}
.navbar-brand {
  margin: 0 auto !important;
}
.nav-description {
  margin-right: 5px;
}
</style>
