<template>
  <div>
    <div v-if="orders.length">
      <b-table :data="ordersComputed">
        <template slot-scope="props">
          <b-table-column field="type" label="Type">
            {{ props.row.type }}
          </b-table-column>
          <b-table-column field="size" label="Size" numeric>
            {{ props.row.size }}
          </b-table-column>
          <b-table-column field="stop" label="Price" numeric>
            {{ props.row.price }}
          </b-table-column>
          <b-table-column field="stop" label="Stop Price" numeric>
            {{ props.row.stop }}
          </b-table-column>
          <b-table-column field="triggerPrice" label="Trigger" numeric>
            {{ props.row.triggerPrice }}
          </b-table-column>
          <b-table-column field="pnl" label="Projected PNL" numeric>
            {{ props.row.pnl }}
          </b-table-column>
          <b-table-column width="50" centered>
            <button class="button is-small" @click="cancelOrder(props.row.orderID)">
              <b-icon icon="close" size="is-small"></b-icon>
            </button>
          </b-table-column>
        </template>
      </b-table>
      <div class="cancel-div">
        <button class="button" @click="cancelAllOrders">
          <b-icon icon="cancel" size="is-small"></b-icon>
          <span>Cancel All Orders</span>
        </button>
      </div>
      <hr/>
      <p v-if="limitOrder && positionQuantity != 0">
        If XBt value {{ limitOrder.price > price ? 'raises' : 'falls' }}
        <strong>{{ limitPercent }}% (${{ Math.abs(price - limitOrder.price) }})</strong>;
        you will {{ limitNet > 0 ? 'gain' : 'lose' }}:
        <strong>mXBt {{ Math.abs(limitPnl) }} (${{ Math.abs(limitNet) }})</strong>.
      </p>
      <p v-if="stopOrder && positionQuantity != 0">
        If XBt value {{ stopOrder.stopPx > price ? 'raises' : 'falls' }}
        <strong>{{ stopPercent }}% (${{ Math.abs(price - stopOrder.stopPx) }})</strong>;
        you will {{ stopNet > 0 ? 'gain' : 'lose' }}
        <strong>mXBt {{ Math.abs(stopPnl) }} (${{ Math.abs(stopNet) }})</strong>.
      </p>
    </div>
    <div v-else>
      <p class="has-text-center">You don't have any active order.</p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters(['orders', 'price', 'positionEntryPrice', 'positionQuantity', 'stopOrder', 'limitOrder']),
    limitPercent() {
      return Math.abs((this.price - this.limitOrder.price) * 100 / this.price).toFixed(1);
    },
    stopPercent() {
      return Math.abs((this.price - this.stopOrder.stopPx) * 100 / this.price).toFixed(1);
    },
    limitNet() {
      return (this.limitOrder.price / 1000 * this.ordersComputed.find(o => o.type == 'Limit' || o.type == 'StopLimit').pnl).toFixed(2);
    },
    limitPnl() {
      return this.ordersComputed.find(o => o.type == 'Limit' || o.type == 'StopLimit').pnl.toFixed(3);
    },
    stopNet() {
      return (this.stopOrder.stopPx / 1000 * this.ordersComputed.find(o => o.type == 'Stop').pnl).toFixed(2);
    },
    stopPnl() {
      return this.ordersComputed.find(o => o.type == 'Stop').pnl.toFixed(3)
    },
    ordersComputed() {
      return this.orders.map(order => ({
        type: order.ordType,
        size: order.leavesQty,
        price: order.price,
        stop: order.stopPx,
        orderID: order.orderID,
        triggerPrice: order.ordType == 'Stop' ? order.stopPx - this.price : order.price - this.price,
        pnl: this.positionQuantity == 0
               ? 0
               : (((order.orderQty / this.positionEntryPrice) -
                   (order.orderQty / (order.ordType == 'Stop' ? order.stopPx : order.price)))
                  * 1000).toFixed(3) * (this.positionQuantity > 0 ? 1 : -1)
      }));
    },
  },
  methods: {
    cancelOrder(id) {
      this.$store.dispatch('cancel_order', id);
    },
    cancelAllOrders() {
      this.$store.dispatch('cancel_all_orders');
    },
  },
};
</script>

<style lang="scss" scoped>
.cancel-div {
  margin-top: 1rem;
}
</style>
