<template>
  <div>
    <div v-if="positionQuantity != 0">

      <div class="columns is-tablet positionNew">
        <div class="column is-half positionCol">
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Price</div>
              <div class="column is-size-4 has-text-weight-semibold  has-text-right">
                {{ price.toFixed(1) }}
              </div>
            </div>
          </div>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Entry</div>
              <div class="column is-size-4 has-text-weight-semibold  has-text-right">
                <b-icon :icon="positionQuantity > 0 ? 'arrow-up-bold' : 'arrow-down-bold'" size="is-small"></b-icon>
                {{ positionEntryPrice.toFixed(1) }}
              </div>
            </div>
          </div>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">UPNL</div>
              <div class="column is-size-4 has-text-weight-semibold has-text-right" :class="!isNaN(pnl) && pnl != 0 ? (pnl > 0 ? 'has-text-success' : 'has-text-danger') : ''">
                {{ Math.abs(pnl) }}
              </div>
            </div>
          </div>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">UPNL $</div>
              <div class="column is-size-4 has-text-weight-semibold has-text-right" :class="!isNaN(pnl) && pnl != 0 ? (pnl > 0 ? 'has-text-success' : 'has-text-danger') : ''">
                ${{ (price * Math.abs(pnl) / 1000).toFixed(2) }}
              </div>
            </div>
          </div>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">RPNL</div>
              <div class="column is-size-4 has-text-weight-semibold has-text-right" :class="realisedPnl > 0 ? 'has-text-success' : 'has-text-danger'">
                {{ Math.abs(realisedPnl).toFixed(3) }}
              </div>
            </div>
          </div>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">RPNL $</div>
              <div class="column is-size-4 has-text-weight-semibold has-text-right" :class="realisedPnl > 0 ? 'has-text-success' : 'has-text-danger'">
                ${{ Math.abs((price / 1000) * realisedPnl).toFixed(2) }}
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half positionCol">
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Close</div>
              <div class="column is-size-4 has-text-weight-semibold has-text-right">
                {{ closePrice || '&mdash;' }}
              </div>
            </div>
          </div>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Stop</div>
              <div class="column is-size-4 has-text-weight-semibold has-text-right">
                {{ stopPrice || '&mdash;' }}
              </div>
            </div>
          </div>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Liquidation</div>
              <div class="column is-size-4 has-text-weight-semibold has-text-right">
                {{ position.liquidationPrice != 100000000 ? position.liquidationPrice : '&mdash;' }}
              </div>
            </div>
          </div>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Size</div>
              <div class="column is-size-4 has-text-weight-semibold has-text-right">
                {{ positionQuantity }}
              </div>
            </div>
          </div>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Value</div>
              <div class="column is-size-4 has-text-weight-semibold has-text-right">
                {{ value }}
              </div>
            </div>
          </div>
          <div class="itemNew">
            <div class="columns is-mobile is-vcentered">
              <div class="column">Leverage</div>
              <div class="column is-size-4 has-text-weight-semibold has-text-right">
                {{ leverage > 1
                            ? leverage.toFixed(2)
                            : '&mdash;' }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item has-text-left">
        You have {{ positionQuantity > 0 ? 'bought' : 'sold' }}
        <strong>${{Math.abs(positionQuantity)}}</strong> worth of XBt <strong>(mXBT {{ value }})</strong> from <strong>${{ positionEntryPrice }}</strong>.
        You need to {{ positionQuantity > 0 ? 'sell' : 'buy' }} it {{ positionQuantity > 0 ? 'above' : 'below' }} entry price
        in order to close this position with profit.
      </div>

    </div>

    <p v-else>
      You don't have any open position.
    </p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters(['price', 'position', 'positionEntryPrice', 'positionQuantity', 'pnl', 'closePrice', 'stopPrice', 'margin']),
    realisedPnl() {
      return (this.position.rebalancedPnl + this.position.realisedPnl) / 100000;
    },
    value() {
      return (Math.abs(this.positionQuantity) / this.positionEntryPrice * 1000).toFixed(1);
    },
    leverage() {
      return Math.abs(this.positionQuantity) / (this.margin.find(w => w.currency == 'XBt').walletBalance / 100000000 * this.price);
    },
  },
}
</script>
