<template>
  <div class="columns">
    <div class="column has-text-centered">
      <div>
        <p class="heading">Price</p>
        <p class="title">{{ price.toFixed(1) }}</p>
      </div>
    </div>
    <div class="column has-text-centered">
      <div>
        <p class="heading">Position</p>
        <p class="title">
          <b-icon :icon="positionQuantity > 0 ? 'arrow-up-bold' : 'arrow-down-bold'" v-show="positionQuantity" size="is-small"></b-icon>
          {{ positionEntryPrice ? positionEntryPrice.toFixed(1) : '&mdash;' }}
        </p>
      </div>
    </div>
    <div class="column has-text-centered">
      <div>
        <p class="heading">PNL (mXBT)</p>
        <p class="title" :class="!isNaN(pnl) && pnl != 0 ? (pnl > 0 ? 'has-text-success' : 'has-text-danger') : ''">
           {{ positionEntryPrice ? Math.abs(pnl) : '&mdash;' }}
        </p>
      </div>
    </div>
    <div class="column has-text-centered">
      <div>
        <p class="heading">CLOSE</p>
        <p class="title">{{ closePrice || '&mdash;' }}</p>
      </div>
    </div>
    <div class="column has-text-centered">
      <div>
        <p class="heading">STOP</p>
        <p class="title">{{ stopPrice || '&mdash;' }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters(['price', 'positionEntryPrice', 'positionQuantity', 'pnl', 'closePrice', 'stopPrice']),
  },
}
</script>

<style lang="scss" scoped>
@import "../style/_variables";

.column {
  @include from($tablet) {
    border-right: 1px dashed $background;
  }
}
.column:last-child {
  border-right: none;
}
</style>
