<template>
  <div v-if="walletRaw">
    <div class="item">
      <p class="heading">Wallet Balance</p>
      <p class="is-size-4 has-text-weight-semibold">{{ amount | fixed }}</p>
    </div>
    <div class="item" v-show="positionQuantity != 0">
      <p class="heading">Margin Balance</p>
      <p class="is-size-4 has-text-weight-semibold" :class="rawPnl > 0 ? 'has-text-success' : 'has-text-danger'">{{ marginBalance | fixed }}</p>
    </div>
    <div class="item">
      <p class="heading">Wallet Balance $</p>
      <p class="is-size-4 has-text-weight-semibold">
        <span>{{ price * amount / 1000 | fixed(2) }}</span>
      </p>
    </div>
    <div class="item">
      <p class="heading">Deposited mXBt</p>
      <p class="is-size-4 has-text-weight-semibold">{{ wallet.deposited / 100000 | fixed }}</p>
    </div>
    <div class="item">
      <p class="heading">PNL</p>
      <p class="is-size-4 has-text-weight-semibold" :class="pnl != 0 ? (pnl > 0 ? 'has-text-success' : 'has-text-danger') : ''">{{ Math.abs(pnl) | fixed }}</p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({'walletRaw': 'wallet', 'marginRaw': 'margin', 'price': 'price', 'rawPnl': 'pnl', 'positionQuantity': 'positionQuantity'}),
    wallet() {
      return this.walletRaw.find(w => w.currency == 'XBt');
    },
    margin() {
      return this.marginRaw.find(w => w.currency == 'XBt');
    },
    amount() {
      return this.margin.walletBalance / 100000;
    },
    marginBalance() {
      return this.margin.marginBalance / 100000;
    },
    pnl() {
      return (this.amount - this.wallet.deposited / 100000);
    },
  },
  filters: {
    fixed(v, f) {
      return v.toFixed(f ? f : 3);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../style/_variables";

.item {
  text-align: center;
  margin-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px dashed $background;
}
.item:first-child {
  margin-top: 0;
}
.item:last-child {
  border-bottom: none;
}
.heading, .title {
  text-align: center;
}
.heading {
  margin-bottom: 0.25rem !important;
}
</style>
